<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The road to Innovation Agency</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/tocca"></script>
  <script src="/script.js" defer></script>
</head>
<body>
  <div id="app">
    <div class="board-header" v-if="started" v-cloak>
      <img class="goal-sign" :class="{'vibrate-small': !finished}" src="https://cdn.glitch.com/38572a42-87ea-47a9-8d6f-0c657f668a74/ia.png">
    </div>
    <div class="board" v-if="started" :style="{'--width': board.width, '--height': board.height}" v-cloak>
      <div v-for="(cell, i) in board.list" :key="i" class="cell" :class="['path', 'wall', 'player'][cell.type]"></div>
    </div>
    <transition name="fade">
      <div v-if="!started" class="splash" @click="start">
        <div class="ia-1">The road to</div>
        <div class="ia-2">Innovation Agency</div>
        <div class="wasd">
          ↑<br>
          <code class="key">w</code><br>
          ←<code class="key">a</code><code class="key">s</code><code class="key">d</code>→<br>
          ↓
        </div>
      </div>
    </transition>
    <transition name="flash" v-cloak>
      <div v-if="started" class="start">スタート</div>
    </transition>
    <transition name="fade" v-cloak>
      <img v-if="retryShown" class="retry-balloon" src="https://cdn.glitch.com/38572a42-87ea-47a9-8d6f-0c657f668a74/balloon.png" @click="retry">
    </transition>
    <modal-alert v-if="modalShown" @close="$emit('modalClosing')" v-cloak>
      <div class="modal-header">
        <div class="ia-1"><b>We</b> are the</div>
        <div class="ia-2">Innovation Agency</div>
      </div>
      <div class="modal-body">
        <img class="knzw vibrate" src="https://cdn.glitch.com/38572a42-87ea-47a9-8d6f-0c657f668a74/knzw2.png">
        <div>クリアタイム</div>
        <div class="time">{{time}}</div>
      </div>
    </modal-alert>
  </div>
</body>
</html>
