<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>15-sisisin</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
  <script src="/script.js" defer></script>
</head>
<body>
  <div id="app">
    <div class="board" :style="{'--width': board.width, '--height': board.height}">
      <div class="ino"></div>
      <div v-for="(cell, i) in board.list" :key="i" class="cell" :class="['path', 'wall', 'player'][cell.type]"></div>
    </div>
    <transition name="flash">
      <div v-if="started" class="start">スタート</div>
    </transition>
    <transition name="fade">
      <button v-if="retryShown" class="retry" @click="retry">↻</button>
    </transition>
    <modal-alert v-if="modalShown" @close="$emit('modalClosing')">
      <div class="modal-header">ゲームクリア</div>
      <div class="modal-body">
        <img src="https://cdn.glitch.com/38572a42-87ea-47a9-8d6f-0c657f668a74/knzw2.png">
        <div>クリアタイム</div>
        <div class="time">{{time}} 秒</div>
      </div>
    </modal-alert>
  </div>
</body>
</html>
